* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  color: #4c5b61;
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}
.title {
  margin-top: 5vh;
  font-size: 200%;
  margin: 40px;
  padding: 20px;
  text-align: center;
}
.title span {
  color: rgb(210, 210, 255);
}
.game {
  margin-top: 5vh;
  background-color: #09d9ed;
  border-radius: 10px;
  padding: 30px;
}
.info {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 40px;
}
.board {
  background-image: url(./pewdiepie-red-and-black-wavy-background-uhd-4k-wallpaper.jpg);
  background-size: 100px 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 8px;
  position: relative;
}
.cell {
  background-color: #09d9ed;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-size: 200%;
  color: chocolate;
  transition: font-size cubic-bezier(0.25, 0.1, 0.35, 1.51) 100ms;
}
.cell:hover {
  background-color: rgb(81, 205, 214);
}
.clicked {
  font-size: 600%;
  pointer-events: none;
}
.fa-circle-o {
  color: aquamarine;
}
.disabled {
  pointer-events: none;
}
.overlay {
  position: absolute;
  z-index: -1;
  background: RGBA(204, 104, 255, 0.8);
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  border-radius: 10px;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: azure;
  transition: all ease 100ms;
}
.result {
  font-size: 30px;
}
.resetButton {
  color: black;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  font-size: 50px;
  padding: 10px;
}
.reveal {
  display: flex;
  z-index: 1;
  pointer-events: all;
}
